{% extends "base.html" %}
{% block title %}Play Boggle{% endblock %}
{% block content %}
<table>
    {% for i in the_board %}
    <tr>
    {% for j in i %} 
        <td>{{j}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
<section>
    <form id="myForm">
        <label for="guess">Guess the word:</label>
        <input type="text" class="text" name="guess" id="guess" />
        <button id="submitGuess">Submit</button>
    </form>
</section>
<div>
    <p id="result"></p>
    <p id="score"></p>
    <p id="highestScore"></p>
    <p id="timer"></p>
    <p id="attempt"></p>

</div>
{% endblock %}